src/main/resources/xsd/RebSyMZ01V03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.zfa.drv-bund.de/rebsy/rentenbezugsmitteilung/mz01v03"
		xmlns:zfaStandTypen="http://www.zfa.drv-bund.de/zfa_standardtypen/v03"
		xmlns:rebsy="http://www.zfa.drv-bund.de/rebsy/rentenbezugsmitteilung/mz01v03"
		elementFormDefault="qualified" 
		version="02.00">
	<!-- Version 02.00 zum 01.01.2019 -->
	<!-- 	Technische Aenderungen gegenueber -->
	<!-- 		Datei in UTF-8 codiert -->
	<!--		Encoding in XML Definition auf UTF-8 gesetzt -->
	<!--		String.Latin Standard von KoSIT in Version 1.1.1 fuer alle Stringtypen eingebunden -->
	<!-- Version 01.01 zum 01.01.2018 --> 
	<!-- 	Aenderungen Versionierung -->
	<!-- 		Erstellung RebSyMZ01V03.xsd-->
	<!-- 	Fachliche Aenderungen -->
    <!--		zfaStandTypen:MitteilungspflichtigenDaten durch zfaStandTypen:MitteilungspflichtigeStelleDaten ersetzen  -->
	<!-- 		LeJahr aus BezugsDatenType nutzt jetzt LeistungsJahrMZ01V03Type -->
    <!--		Einbauen des neuen Bausteins Auftragnehmer (aus Standardtypen) refElement zfaStandTypen:Auftragnehmer  -->
  
	<import namespace="http://www.zfa.drv-bund.de/zfa_standardtypen/v03" schemaLocation="./ZfAStandardtypenV03.xsd"/>
	<annotation>
		<documentation>
			Merkmal zur Leistung: 2-stellig, numerisch
		</documentation>
	</annotation>
	<simpleType name="MerkmalLeistungType">
		<restriction base="zfaStandTypen:String.Latin">
			<length value="2"/>
			<pattern value="[0-9]{2}"/>
		</restriction>
	</simpleType>
	<annotation>
		<documentation>
			Merkmal zum Rechtsgrund der Leistung: Auswahl
		</documentation>
	</annotation>
	<simpleType name="MerkmalRechtsgrundLeistungType">
		<restriction base="zfaStandTypen:String.Latin">
			<enumeration value="01"/>
			<enumeration value="02"/>
			<enumeration value="03"/>
			<enumeration value="04"/>
			<enumeration value="05"/>
			<enumeration value="06"/>
			<enumeration value="07"/>
			<enumeration value="08"/>
			<enumeration value="10"/>
			<enumeration value="11"/>
			<enumeration value="12a"/>
			<enumeration value="12b"/>
			<enumeration value="12c"/>
			<enumeration value="12d"/>
			<enumeration value="14"/>
			<enumeration value="15"/>
			<enumeration value="16"/>
			<enumeration value="17"/>
			<enumeration value="18"/>
			<!-- 01 = § 22 Nummer 1 Satz 3 Buchstabe a Doppelbuchstabe aa EStG -->
			<!-- 02 = § 22 Nummer 1 Satz 3 Buchstabe a Doppelbuchstabe bb Satz 4 EStG -->
			<!-- 03 = § 22 Nummer 1 Satz 3 Buchstabe a Doppelbuchstabe bb Satz 5 EStG i. V. m. § 55 Absatz 2 EStDV -->
			<!-- 04 = § 22 Nummer 5 Satz 1 EStG -->
			<!-- 05 = § 22 Nummer 5 Satz 1 i. V. m. Satz 11 EStG -->
			<!-- 06 = § 22 Nummer 5 Satz 2 Buchstabe a EStG i. V. m. § 22 Nummer 1 Satz 3 Buchstabe a Doppelbuchstabe aa EStG -->
			<!-- 07 = § 22 Nummer 5 Satz 2 Buchstabe a EStG i. V. m. § 22 Nummer 1 Satz 3 Buchstabe a Doppelbuchstabe bb EStG ggf. i. V. m. § 55 Absatz 1 Nummer 1 EStDV -->
			<!-- 08 = § 22 Nummer 5 Satz 2 Buchstabe a EStG i. V. m. § 22 Nummer 1 Satz 3 Buchstabe a Doppelbuchstabe bb Satz 5 EStG i. V. m. § 55 Absatz 2 EStDV ggf. i. V. m. § 55 Absatz 1 Nummer 1 EStDV -->
			<!-- 10 = § 22 Nummer 5 Satz 2 Buchstabe b EStG i. V. m. § 20 Absatz 1 Nummer 6 EStG ggf. i. V. m. § 52 Absatz 28 Satz 5 EStG -->
			<!-- 11 = § 22 Nummer 5 Satz 2 Buchstabe c EStG -->
			<!-- 12a = § 22 Nummer 5 Satz 3 i. V. m. Satz 2 Buchstabe a EStG i. V. m. § 22 Nummer 1 Satz 3 Buchstabe a Doppelbuchstabe bb EStG ggf. i. V. m. § 55 Absatz 1 Nummer 1 EStDV -->
			<!-- 12b = § 22 Nummer 5 Satz 3 i. V. m. Satz 2 Buchstabe a EStG i. V. m. § 22 Nummer 1 Satz 3 Buchstabe a Doppelbuchstabe bb Satz 5 EStG i. V. m. § 55 Absatz 2 EStDV ggf. i. V. m. § 55 Absatz 1 Nummer 1 EStDV -->
			<!-- 12c = § 22 Nummer 5 Satz 3 i. V. m. Satz 2 Buchstabe b EStG i. V. m. § 20 Absatz 1 Nummer 6 EStG ggf. i. V. m. § 52 Absatz 28 Satz 5 EStG -->
			<!-- 12d = § 22 Nummer 5 Satz 3 i. V. m. Satz 2 Buchstabe c EStG -->
			<!-- 14 = § 22 Nummer 5 Satz 4 i. V. m. § 92a Absatz 2 Satz 5 EStG -->
			<!-- 15 = § 22 Nummer 5 Satz 4 i. V. m. § 92a Absatz 3 Satz 5 EStG -->
			<!-- 16 = § 22 Nummer 5 Satz 5 EStG -->
			<!-- 17 = § 22 Nummer 5 Satz 6 EStG -->
			<!-- 18 = § 22 Nummer 5 Satz 8 EStG i. V. m. Satz 1 -->
		</restriction>
	</simpleType>
	<annotation>
		<documentation>
			Datumstyp in der Form jhjj-mm-tt,Datum muss logisch sein,
			fruehestes gueltiges Datum ist der 01.01.1900
		</documentation>
	</annotation>
	<simpleType name="Datum1900Type">
		<restriction base="date">
			<minInclusive value="1900-01-01"/>
			<pattern value="\d{4}-\d{2}-\d{2}"/>
			<!-- Patternergaenzung, zum Ausschluss von Zeitzonen-Werten (z.B. '1956-07-08+01:00'), -->
			<!-- die im 'date'-Type zulaessig sind  -->
		</restriction>
	</simpleType>
	<annotation>
		<documentation>
			Type fuer alphanumerische, max. 40-stellige Werte
			Zusaetzlich gelten die Einschraenkungen des BaseStringUltraLightSTypes
		</documentation>
	</annotation>
	<simpleType name="BemessungsgrundlageDatumEinwilligungType">
		<restriction base="date">
			<minInclusive value="2005-01-01"/>
			<maxInclusive value="2099-12-31"/>
			<pattern value="\d{4}-\d{2}-\d{2}"/>
		</restriction>
	</simpleType>
	<simpleType name="BemessungsgrundlageJahrType">
		<restriction base="gYear">
			<minInclusive value="2005"/>
			<maxInclusive value="2099"/>
		</restriction>
	</simpleType>
	<simpleType name="MonatType">
		<restriction base="zfaStandTypen:String.Latin">
			<pattern value="12|11|10|0[1-9]"/>
		</restriction>
	</simpleType>
	<complexType name="VersorgungsfreibetragType">
		<sequence>
			<element name="VfbDtEinw" type="rebsy:BemessungsgrundlageDatumEinwilligungType"/>
			<element name="VfbBmg" type="zfaStandTypen:BetragSignedType"/>
			<element name="VfbJahr" type="rebsy:BemessungsgrundlageJahrType"/>
			<element name="VfbBeginn" type="rebsy:MonatType" minOccurs="0"/>
			<element name="VfbEnde" type="rebsy:MonatType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="MeldegrundDatenMZ01Type">
		<sequence>
			<element name="KdNr" type="zfaStandTypen:KdNrType"/>
			<element name="MipfStOrdBg" type="zfaStandTypen:Ordnungsmerkmal_RBMSType" minOccurs="0"/>
			<element name="LeMm" type="rebsy:MerkmalLeistungType" minOccurs="0"/>
			<element name="VtNr" type="zfaStandTypen:VtNrType" minOccurs="0"/>
			<element name="DtErstUr" type="zfaStandTypen:DatumZeitMilliSecType" minOccurs="0"/>
			<element name="DtErstAkt" type="zfaStandTypen:DatumZeitMilliSecType"/>
			<element name="MmMeld" type="zfaStandTypen:MmMeldType"/>
		</sequence>
		<attribute name="testmerker" type="zfaStandTypen:TestmerkerType" use="optional"/>
	</complexType>
	<complexType name="LeistungsempfaengerDatenMZ01Type">
		<sequence>
			<element name="IdNr" type="zfaStandTypen:IdNrType"/>
			<element name="NName" type="zfaStandTypen:NachnameType"/>
			<element name="VWort" type="zfaStandTypen:VWortType" minOccurs="0"/>
			<element name="NamZu" type="zfaStandTypen:NamenszusatzType" minOccurs="0"/>
			<element name="Titel" type="zfaStandTypen:TitelType" minOccurs="0"/>
			<element name="VName" type="zfaStandTypen:NameType"/>
			<element name="GebDt" type="zfaStandTypen:DatumMit0Type"/>
			<element ref="zfaStandTypen:Auslandsadresse" minOccurs="0"/>
			<element name="StaatAn" type="zfaStandTypen:StaatSchluesselType" minOccurs="0" maxOccurs="50"/>
		</sequence>
	</complexType>
	<complexType name="BezugsDatenType">
		<sequence>
			<element name="LeWkz" type="zfaStandTypen:ISO-4217Type"/>
			<element name="LeJahr" type="zfaStandTypen:LeistungsJahrMZ01V03Type"/>
			<element name="LeApBtr" type="zfaStandTypen:BetragSignedType" minOccurs="0"/>
			<element name="LeBeginn" type="rebsy:Datum1900Type"/>
			<element name="LeEnde" type="rebsy:Datum1900Type" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="LeistungsbetragType">
		<sequence>
			<element name="LeRg" type="rebsy:MerkmalRechtsgrundLeistungType"/>
			<element name="LeBtr" type="zfaStandTypen:BetragSignedType"/>
			<element name="LeBtrNach" type="zfaStandTypen:BetragUnsignedType" minOccurs="0"/>
			<element name="Garantierente" type="rebsy:GarantierenteType" minOccurs="0"/>
			<element name="Versorgungsfreibetrag" type="rebsy:VersorgungsfreibetragType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="GarantierenteType">
		<sequence>
			<element name="ErbGebDt" type="zfaStandTypen:DatumMit0Type" minOccurs="0"/>
			<element name="ErbLeBeginn" type="rebsy:Datum1900Type" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="VorzeitraeumeType">
		<sequence>
			<element name="VorBeginn" type="rebsy:Datum1900Type" minOccurs="0"/>
			<element name="VorEnde" type="rebsy:Datum1900Type" minOccurs="0"/>
		</sequence>
	</complexType>
	<simpleType name="BetragArtType">
		<restriction base="zfaStandTypen:String.Latin">
			<enumeration value="01"/>
			<enumeration value="02"/>
			<enumeration value="03"/>
			<enumeration value="04"/>
			<enumeration value="05"/>
			<enumeration value="06"/>
			<!-- 01 = Geleistete Beiträge zur Krankenversicherung (ggf. inkl. Zusatzbeitrag) -->
			<!-- 02 = Geleisteter Beitragszuschuss zur Krankenversicherung -->
			<!-- 03 = Geleistete Beiträge zur Pflegeversicherung -->
			<!-- 04 = Erstattete Beiträge zur Krankenversicherung (ggf. inkl. Zusatzbeitrag) -->
			<!-- 05 = Zurückgeforderter Beitragszuschuss zur Krankenversicherung -->
			<!-- 06 = Erstattete Beiträge zur Pflegeversicherung -->
		</restriction>
	</simpleType>
	<simpleType name="PositiverBetragType">
		<restriction base="zfaStandTypen:String.Latin">
			<maxLength value="12"/>
			<minLength value="4"/>
			<pattern value="([1-9]([0-9]{8}|[0-9]{7}|[0-9]{6}|[0-9]{5}|[0-9]{4}|[0-9]{3}|[0-9]{2}|[0-9])|[1-9]),[0-9]{2}|[0-9],([0-9][1-9]|[1-9][0-9])"/>
		</restriction>
	</simpleType>
	<complexType name="BeitragsDatenType">
		<sequence>
			<element name="BezBeginn" type="zfaStandTypen:DatumJHJJ-MM-2020Type" minOccurs="0"/>
			<element name="BezEnde" type="zfaStandTypen:DatumJHJJ-MM-2020Type" minOccurs="0"/>
			<element name="BetragArt" type="rebsy:BetragArtType"/>
			<element name="Betrag" type="rebsy:PositiverBetragType"/>
		</sequence>
	</complexType>
	<element name="Daten">
		<complexType>
			<sequence>
				<element name="MeldegrundDaten" type="rebsy:MeldegrundDatenMZ01Type"/>
				<element ref="zfaStandTypen:FehlerDaten" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="zfaStandTypen:MitteilungspflichtigeStelleDaten"/>
				<element name="LeistungsempfaengerDaten" type="rebsy:LeistungsempfaengerDatenMZ01Type"/>
				<element name="BezugsDaten" type="rebsy:BezugsDatenType"/>
				<element name="Leistungsbetrag" type="rebsy:LeistungsbetragType" maxOccurs="55"/>
				<element name="Vorzeitraeume" type="rebsy:VorzeitraeumeType" minOccurs="0" maxOccurs="30"/>
				<element name="BeitragsDaten" type="rebsy:BeitragsDatenType" minOccurs="0" maxOccurs="96"/>
				<element ref="zfaStandTypen:AuftragnehmerDaten" minOccurs="0" />
			</sequence>
		</complexType>
	</element>
</schema>
